.page--not-found {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page__main--not-found {
  display: flex;
  flex-grow: 1;
}

.not-found {
  max-width: 520px;
  margin-top: 16.7vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
  text-align: center;
}

.not-found__code {
  display: block;
  margin-bottom: 5px;
  font-size: 32px;
  line-height: 1.1875;
}

.favorites__status-description {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 30px;
  font-size: 20px;
  line-height: 1.5;
}

.not-found__navigation {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.not-found__navigation--item:last-child {
  margin-left: 40px;
}

.not-found__navigation-link {
  font-size: 20px;
  color: #3069a6;
  text-transform: uppercase;
  text-decoration: underline;
}

.not-found__navigation-link:hover {
  text-decoration: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}
